body{
    background-color: #1D334A;
}

header{
    color: #FFF5EE;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    font-family: "Gruppo",sans-serif;

}


.section-one{
    background-color: #fffff0;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-two{
    background-color: #1D334A;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-three {
    background-color: #fffff0;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-four{
    background-color: #1D334A;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-five{
    background-color: #fffff0;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-six{
    background-color: #1D334A;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button{
    border: 1px solid;
    border-radius: 5px;
    font-size: large;
    padding: 10px;
    margin: 2px;
    transition-duration: .5s;
    background-color: #faf9f6;
    color: #FFF5EE;
}

button:hover{
    background-color: #FFF8DC;
    color: #FFF5EE;
}

button:active{
    background-color: #171733;
    box-shadow:0 5px #F0EAD6;
    transform: translateY(4px);
}

img{
    height: auto;
    width: 30%;
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;
}

.content img { 
    margin-right: 20px; 
    width: 400px;
    height: auto;
}

.text {
    max-width: 500px;
}

.shadow-image {
    transition: box-shadow 0.3s ease;
    display: block;
    border-radius: 8px;
}

.shadow-image:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
}

.media-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.word-container {
    display: flex;
    justify-content: center;  /* This centers the images horizontally */
    align-items: center;      /* This centers the images vertically */
    margin: 200px auto 20px auto;
    width: 80%;
    text-align: center;
    flex-wrap: wrap;
}

.word{
    width: 23%;
    height: auto;
    margin-bottom: 10px;
}

.image-row {
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap */
    justify-content: center; /* Center the images */
    gap: 20px; /* Add some space between images */
    width: 80%;
    text-align: center;
}

.image-row img {
    width: calc(25% - 10px); /* Make each image take up 25% of the container's width minus some space */
    height: auto;
    border-radius: 5px; /* Optional: To round the corners of the images */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Optional: Add shadow to images */

}

.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
    margin: 10px;
}

.image-container img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.image-container p{
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}