body{
    background-color: #1D334A;
}

header{
    color: #FFF5EE;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;

}


.section-one{
    background-color: #fffff0;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    .gruppo-regular {
        font-family: "Gruppo", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
}

.container-navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button{
    border: 1px solid;
    border-radius: 5px;
    font-size: large;
    padding: 10px;
    margin: 2px;
    transition-duration: .5s;
    background-color: #faf9f6;
    color: #FFF5EE;
}

button:hover{
    background-color: #272757;
    color: #FFF5EE;
}

button:active{
    background-color: #171733;
    box-shadow:0 5px #F0EAD6;
    transform: translateY(4px);
}